---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Page Not Found">
  <main>
    <div class="relative w-4/5 m-auto">
      <img src="/images/404.jpg" class="w-full" />
      <div class="absolute top-8 pl-8">
        <p class="text-6xl">404:Not Found</p>
        <p class="text-4xl">お探しのページは見つかりせん</p>
      </div>
    </div>
  </main>
</BaseLayout>
