---

---

<nav class="md:flex mx-auto my-4 px-6 py-3 items-center justify-between">
  <a
    href="/"
    class="flex transition-all duration-200 ease-in-out h-full relative top-0 hover:-translate-y-1"
  >
    <img src="/images/logoPaw.svg" alt="ロゴ" class="w-6 mx-1" />
     My Site
  </a>
  <div class="flex">
    <a
      href="/blog"
      class="block text-white bg-black rounded px-4 mx-2 transition-all duration-200
      ease-in-out h-full relative top-0 hover:-translate-y-1"
      >ブログ</a
    >
    <a
      href="/tags"
      class="block text-white bg-black rounded px-4 mx-2 transition-all duration-200
      ease-in-out h-full relative top-0 hover:-translate-y-1"
      >投稿のタグ一覧</a
    >
  </div>
</nav>
